* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  background-color: #ddd;
}

.comments {
  min-height: 100vh;
  padding: 20px;
}

.comments__heading {
  margin-bottom: 30px;
  text-align: center;
}

.comments__form,
.comments__list {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  list-style-type: none;
  background-color: #fff;
  border-radius: 10px;
}

.comments__form {
  margin-bottom: 30px;
}

.comments__item {
  padding: 10px;
}

.comments__item:not(:last-child) {
  margin-bottom: 10px;
  border-bottom: 2px solid #aaacad;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__comment {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.form__textarea {
  flex-grow: 1;
  min-height: 150px;
}

.comment-item {
  position: relative;
}

.comment-item__information {
  color: #999;
  text-align: right;
}

.comment-item__information span:not(:last-child) {
  display: inline-block;
  margin-right: 0.5rem;
}

.comment-item__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: transparent;
  background-image: url('../img/close.svg');
  background-size: contain;
  border: none;
}
